<div class="main__chats">
    <div class="button__profile">
        <a href="/userSettings">
            <button type="{{type}}" class="button__chatsSection">{{profile}}</button>
            <img src="{{arrowRight}}" class="arrow__right" alt="Ссылка на профиль" />
        </a>
    </div>
    {{{inputSearchComp}}}
    {{{chatItem}}}
</div>
