<div class="main__auth">
    <div class="co__auth">
        {{#if signIn}}
            <div class="title__auth">
                {{titleSignIn}}
            </div>
            <div class="conForm__auth">
                <form autocomplete="off" class="form__auth">
                    <div class="inputs__auth">
                        {{{inputLoginAuth}}}
                    </div>
                </form>
                <div class="buttons__authorization">
                    {{{blueButtonSignIn}}}
                    {{{hrefRegSignIn}}}
                </div>
            </div>
        {{/if}}
        {{#if signUp}}
            <div class="title__auth">
                {{titleSignUp}}
            </div>
            <form autocomplete="off" class="form__auth">
                <div class="inputs__auth">
                    {{{inputLoginReg}}}
                </div>
                <div class="buttons__auth">
                    {{{blueButtonSignUp}}}
                    {{{hrefRegSignUp}}}
                </div>
            </form>
        {{/if}}
    </div>
</div>

